@{
    ViewData["Title"] = "Quests";
}
<h1>@ViewData["Title"]</h1>
<style>
h3{text-align:center;background-color:azure
    }
</style>
<h3>Here you can choose a quest</h3>

<div>
    
    <label>QuestRooms</label><br />
    <input name="questroom.name" /><br />
    <label>Subject</label><br />
    <input subject="subject.name" /><br />
    <label>Time</label><br />
    <input time="questroom.time" type="number" /><br />
    <input type='submit' value='Confirm' />
</div>