@{
    ViewData["Title"] = "Quests";
}
<h1>@ViewData["Title"]</h1>
<style>
h3{text-align:center;background-color:azure
    }
</style>
<h3>Here you can choose a quest</h3>

<div>
    <input class="create" id="create" />

</div>